<div class="container ">
  <div class="row ">
    <!-- Left Column -->
    <div
      class="col-12 col-md-6 d-flex align-items-center justify-content-center p-4"
    >
      <div class="text-center">
        <img src="assets/img/login-women.png" alt="" class="img-section" />
      </div>
    </div>

    <!-- Right Column -->
    <div
      class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center p-4 login-from"
    >
      <p>Login</p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput />
        </mat-form-field>
      </p>

      <button mat-stroked-button color="warn">Login</button>
      <a mat-button target="_blank" routerLink="/signup" class="m-3"
        >New User?</a
      >
    </div>
  </div>
</div>
