:host {
  display: block;
}

.logo {
  height: 50px;
  width: auto;
  cursor: pointer;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.1;
  cursor: pointer;
}

.title::first-letter {
  font-size: 1.6rem;
  color: #333;
}

.nav-item:hover {
  color: #333 !important;
  cursor: pointer;
}
