:host {
  display: block;
  background-color: transparent;
  color: inherit;
}
.register-img {
  width: 800px;
  /* height: 180px; */
  border-radius: 12px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .col-md-6 {
    max-height: 100vh;
    order: 1;
  }
  .register-from {
    order: 0;
  }
}
