:host {
  display: block;
  background-color: transparent;
  color: inherit;
}
.register-img {
  width: 820px;

  /* object-fit: cover; */
}

@media (max-width: 768px) {
  .col-md-6 {
    max-height: 100vh;
    order: 1;
  }
  .register-from {
    order: 0;
  }
}
