:host {
  display: block;
  background-color: transparent;
  color: inherit;
}
.workouts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  margin-bottom: 10px;
}

.workout-img{
  width: 50%;
  object-fit: cover;
  align-self: center;
}
.workout-card {
  width: 300px;
  flex-grow: 1;
}
.paginator{
  margin: 50px ;
  height: 50px;
  width: 100%;
  background-color: transparent;
}
