<div class="container">
  <h4 class="text-center">Choose your Activity</h4>

<div class="workouts-list">
  <mat-card *ngFor="let workout of workouts" class="workout-card border p-1">
    <mat-card-header>
      <mat-card-title class="text-info">{{ workout.title }}</mat-card-title>
      <mat-card-subtitle class="text-danger">{{ workout.duration }}</mat-card-subtitle>
    </mat-card-header>

    <img *ngIf="workout.imageUrl" mat-card-image class="workout-img" [src]="workout.imageUrl" alt="{{ workout.title }}">

    <mat-card-content>
      <p>{{ workout.description }}</p>
    </mat-card-content>

    <mat-card-actions class="d-flex justify-content-center align-items-center" >
      <button mat-flat-button color="primary" >Start</button>

    </mat-card-actions>
  </mat-card>
</div>
</div>
