<div class="container">
  <h4 class="text-center mb-3">Choose your Activity</h4>

  <!-- 🔍 Search Input -->
   <div class="d-flex justify-content-end">
 <mat-form-field appearance="outline" class="w-50 mb-4 ">
    <mat-label>Search Workouts</mat-label>
    <input
      matInput
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange()"
      placeholder="Type to filter workouts"
    />
  </mat-form-field>
   </div>


  <!-- 🏋️‍♂️ Workouts List -->
  <div class="workouts-list">
    <mat-card
      *ngFor="let workout of paginatedWorkouts"
      class="workout-card border p-2 mb-3"
    >
      <mat-card-header>
        <mat-card-title class="text-info">{{ workout.title }}</mat-card-title>
        <mat-card-subtitle class="text-white">{{
          workout.duration
        }}</mat-card-subtitle>
      </mat-card-header>

      <img
        *ngIf="workout.imageUrl"
        mat-card-image
        class="workout-img"
        [src]="workout.imageUrl"
        alt="{{ workout.title }}"
      />

      <mat-card-content>
        <p>{{ workout.description }}</p>
      </mat-card-content>

      <mat-card-actions class="d-flex justify-content-center">
        <button mat-flat-button color="primary" (click)="openWorkoutDialog(workout)">Start</button>
      </mat-card-actions>
    </mat-card>

    <!-- ❌ No Results Message -->
    <div *ngIf="filteredWorkouts.length === 0" class="mt-4 text-white">
      No workouts found for "{{ searchTerm }}"
    </div>
    <!-- 📄 Pagination -->
<mat-paginator
    [length]="totalWorkouts"
    [pageSize]="pageSize"
    [pageSizeOptions]="[3, 5, 10]"
    (page)="onPageChange($event)"
    class="paginator"
  >
  </mat-paginator>
  </div>






</div>

