:host {
  display: block;
  background-color: transparent;
  color: inherit;
}

.container {
  width: 100%;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  height: 80vh;
  flex-wrap: wrap;
}

.left-section,
.right-section {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-section {
  color: white;

}

.left-section h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.left-section p {
  display: flex;
  justify-content: start;
  line-height: 1.2;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 10px 0;
}

.left-section p span {
  color: orangered;
}

.right-section img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  border: 2px solid orangered;
  box-shadow: 2px 4px 8px #000;
}

/* Medium devices (<=768px) */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .left-section,
  .right-section {
    width: 100%;
  }
}

/* Small devices (<=480px) */
@media (max-width: 480px) {
  .home-container {
    padding: 10px;
    height: auto;
  }

  .left-section p {
    font-size: 28px;
  }

  .right-section img {
    max-width: 100%;
    height: auto;
  }
}
