
<div class="container py-5  text-white">
  <div class="row align-items-center justify-content-center text-center text-md-start">

    <!-- Left Section -->
   <div class="col-12 col-md-6 mb-4 mb-md-0 ps-md-5 ps-3">
  <h2 class="text-uppercase fs-6 letter-spacing mb-3">Shape your body</h2>
  <p class="display-1 fw-bold text-uppercase">
    Be <span class="text-warning">Strong</span>
  </p>
  <p class="display-6 fw-semibold text-uppercase">
    Training <span class="text-warning">Hard</span>
  </p>
  <!-- ✅ Call-to-Action Button -->
  <a routerLink="/workouts" mat-stroked-button class="text-uppercase btn-hover-effect bg-warning text-dark">
  Start Now
</a>

</div>


  <!-- Right Section -->
  <div class="col-12 col-md-6 d-flex justify-content-center">
    <img
        src="assets/img/Landing-page.png"
        alt="SuperMan"
        class="img-fluid rounded border border-warning shadow"
        style="max-width: 500px;"
      />
  </div>

  </div>
</div>
