<div mat-dialog-title class="d-flex justify-content-around align-items-center">
  <mat-toolbar>
      <mat-icon *ngIf="data.type === 'success'"  class="text-success" fontIcon ="check"></mat-icon>
      <mat-icon *ngIf="data.type === 'error'" class="text-danger" fontIcon="error"></mat-icon>
      <mat-icon *ngIf="!data.type || data.type === 'info'" class="text-info" fontIcon="info"></mat-icon>
  <span class="ms-2">{{ data.message }}</span>
  </mat-toolbar> 
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="close()">OK</button>
</mat-dialog-actions>
