:host {
  display: block;
  background-color: transparent;
  color: inherit;
}
mat-toolbar{
  background-color: transparent;
}
mat-dialog-title {
  font-size: 1.1rem;
  font-weight: 500;
}

mat-icon {
  vertical-align: middle;
}
